
.container {
    margin-top: 20px;
}

.right-container, .left-container{
    box-sizing: border-box;
}

.active-class {
    color: rgb(226, 51, 153);
}

.inactive-class {
    color: black
}

.first-item {
    background-color: black;
    padding: 12px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.category-items {
    padding: 12px;
    background-color: #e6e2dc;
    outline: none;
    cursor: pointer;
}

/* photo style */
.header-photo {
    height: 200px;
    background-size:cover; 
    background-image: url('/app/assets/cover.jpg');
}
/* photo style */

/* product style */
.product-image {
    height: 150px;
    width: 150px;
}
/* product style */

/* product badge */
.photo-container{
    position: relative;
}
  .data-badge{
      position: absolute;
      top: -10px;
      right: -10px;
      font-size: 10px;
      z-index: 10;
      background-color: #1edcb9;
      font-size: 15px;
      padding: 3px 13px 3px 13px;
  }

  .item-price{
      color: #15d1af;

  }
  .photo-container .item-name,.photo-container .item-price{
      width: 100%;
      border-bottom: 1px solid rgba(128, 128, 128, 0.514);
      text-align: center;
  } 
/* product badge */


/* .category-items :hover{
    border-bottom: 1px solid gray;
    cursor: pointer;
    color: rgb(226, 51, 153);
} */