<!-- <footer layout layout-padding="20px" layout-align="center center">
    <div class="footer-wrapper" layout="row" layout-align="start start" flex="70">
        <div class="left-footer" layout="column" flex="30">
            <div class="about-us" layout="column" layout-padding="10px">
                <span class="title-about-us">ABOUT US</span>
                <span>Lorem ipsum, dolor sit amet consectetur adipisicing e
                    lit. Neque, alias veritatis. Tempore culpa ut autem!
                </span>
                <span>+38269567213</span>
                <span>ttomic152@gmail.com</span>
            </div>
            <div class="footer-image" layout-fill>
                <img width="250px" height="130px" src="assets/footer-city.jpg" alt="city">
            </div>
        </div>
        <div class="right-footer" layout="column" layout-align="start center">
            <div layout="row" layout-align="start start">
                <div class="new-letter" layout="column" layout-padding="10px">
                    <span class="new-letter-title">NEW LETTER</span>
                    <div class="search-container">
                        <form>
                            <input type="text" placeholder="Search.." name="search">
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="connect-with-us" layout="column" layout-padding="10px">
                    <span>
                        CONNECT WITH US
                    </span>
                    <div class="social-media" layout="row" layout-align="center">
                        <img class="social-media-icons"
                            src="assets/social-media-icons/iconfinder_2018_social_media_popular_app_logo_googleplus_3228538.svg"
                            alt="">
                        <img class="social-media-icons"
                            src="assets/social-media-icons/iconfinder_2018_social_media_popular_app_logo_facebook_3228552.svg"
                            alt="">
                        <img class="social-media-icons"
                            src="assets/social-media-icons/iconfinder_2018_social_media_popular_app_logo_skype_3228546 (1).svg"
                            alt="">
                        <img class="social-media-icons"
                            src="assets/social-media-icons/iconfinder_2018_social_media_popular_app_logo_tumblr_3228544.svg"
                            alt="">
                        <img class="social-media-icons"
                            src="assets/social-media-icons/iconfinder_2018_social_media_popular_app_logo_twitter_3228543.svg"
                            alt="">
                        <img class="social-media-icons"
                            src="assets/social-media-icons/iconfinder_2018_social_media_popular_app_logo_vine_3228542.svg"
                            alt="">

                    </div>
                </div>
            </div>

            <div class="informations" layout-padding="15px" layout="rov" layout-align="center">
                <div class="info">
                    <div layout="row" layout-align="center center">
                        <span class="box"></span>
                        <span>INFORMATION</span>
                    </div>
                    <ul class="custom-list">
                        <li>About Us</li>
                        <li>Contact us</li>
                        <li>Terms & Conditions</li>
                        <li>Privacy Policy</li>
                    </ul>

                </div>
                <div class="info">
                    <div layout="row" layout-align="center center">
                        <span class="box"></span>
                        <span>WHY BUY FROM US</span>
                    </div>
                    <ul class="custom-list">
                        <li>About Us</li>
                        <li>Contact us</li>
                        <li>Terms & Conditions</li>
                        <li>Privacy Policy</li>
                    </ul>
                </div>
                <div class="info">
                    <div layout="row" layout-align="center center">
                        <span class="box"></span>
                        <span>MY ACCOUNT</span>
                    </div>
                    <ul class="custom-list">
                        <li>About Us</li>
                        <li>Contact us</li>
                        <li>Terms & Conditions</li>
                        <li>Privacy Policy</li>
                    </ul>
                </div>
                <div class="info">
                    <div layout="row" layout-align="center center">
                        <span class="box"></span>
                        <span>USEFUL LINKS</span>
                    </div>
                    <ul class="custom-list">
                        <li>About Us</li>
                        <li>Contact us</li>
                        <li>Terms & Conditions</li>
                        <li>Privacy Policy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

     <div class="black-footer footer-copyright">
        <span>&copy 2014 Copyright by Plazatheme. All rights Reserved. </span>
    </div>  
</footer>  -->