md-nav-bar {
    .md-button._md-nav-button.md-unselected {
        color: #ffffff;
    }

    ._md-nav-button.md-ink-ripple.md-active {
        color: #ffffff;
        background: #f01b48;
    }

    md-nav-ink-bar {
        background: #f01b48;
    }


}


div.nav-bar-wrapper {
    background-color: black;

    md-nav-bar.nav-bar {
        color: white !important;

        .nav-item {
            margin: 0;
            padding: 0;

            a {
                margin: 0;

            }
        }
    }


}


md-toolbar.md-tall {
    background-color: #f4f4f4;
}

.nav-item.md-nav-item :hover {
    background: #f01b48;
}

.toolbar-data {
    list-style-type: none;
    text-decoration-style: none;
    color: black;
    padding: 0;

    li {
        margin-right: 7px;
        display: inline-block;
        font-size: 13px;
    }
}

select {
    /* -webkit-appearance: none; */
    background-color: #dddddd;
    border: none;
    outline: none;
}

.info-first {
    background-color: #dddddd;
}

.app-logo h2 {
    color: black;
    font-size: 35px;
    font-weight: bold;
}

// search box

.search-box {
    background-color: white;
    padding: 0;
}

.search-product input {
    font-size: 15px;
    outline: none;
    border: none;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
}

.icon {
    color: black;
    border: none !important;
}

.category select {
    font-size: 15px;
    background-color: white;
    border-right: 1px solid gray;

}

//search box

//cart
.cart-items {
    span {
        margin-left: 5px;
        color: black !important;
        font-size: 15px !important;
    }
}

.call-number{
    color: white;
    width: 217px;
}

//cart