// left container
.details-left-container {
    width: 50%;
}

//right-container
.small-photos {
    border-bottom: 1px solid gray;
}

//products
.details-products-box {
    border-top: 1px solid gray;
}

.product-link {
    color: #FFFFFF;
    text-decoration: none;
}

//tabs style

.tab-header .header-button {
    background-color: black;
    padding: 8px;
    margin-right: 3px;
    color: white;
    display: inline-block;

    &:hover {
        cursor: pointer;
    }
}

.text-wrapper .inside-text {
    padding: 15px;
    border: 1px solid rgba(206, 200, 200, 0.712);
}

//product detailed part

.detailed-info {

    .layout-padding {
        padding: 0 5px 15px 0;
    }

    .product-name {
        font-weight: bold;
        color: #666666;
    }

    .product-price {
        color: #15d1af;
        font-size: x-large;
    }

    .required-star::after {
        content: "*";
        color: red;
    }

    //custom dropdown
    .custom-select select {
        text-align-last: center;
        font-size: large;
        width: 100%;
        color: #585454b6;
        font-weight: lighter;
    }

    //quantity
    .quantity {
        border: 1px solid rgba(206, 200, 200, 0.712);

        span {
            border-right: 1px solid rgba(206, 200, 200, 0.712);
            padding: 0 20px;
        }
    }


    .social-media {
        img {
            widows: 30px;
            height: 30px;
            padding: 0;
        }
    }

    .cart-button {
        img {
            width: 35px;
            height: 35px;
            margin-right: 5px;
        }

        .custom-button {
            color: white;
            background-color: #333333;
            padding: 0px 17px;
            border-radius: 19px 19px 19px 19px;

            :hover {
                color: black;
            }
        }

    }
}

.stars i {
    font-size: 18px;
}

.tabs {
    .tab-active-class {
        background-color: #f01b48;
        outline: 0;
        border-bottom: 4px solid #f01b48;
    }
}

.detailed-view {
    padding: 0;
}

.photo-description {
    .product-name {}

    .product-price {}

}

//slick-carousel

.details.slick-carousel {

    .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 50;
        margin-top: -12px;
    }

    .slick-initialized {
        justify-content: center;
        flex-direction: center;
    }



    // donji
    .slider-nav {
        background-color: #f4f4f4;
        width: 500px;
        margin-bottom: 0;
        padding: 0 20px;

        .slick-prev:before {
            color: #f01b48;
            content: "‹";
            position: absolute;
            font-size: x-large;
            font-weight: bolder;
            top: -7px;
            left: 33px;
            position: absolute;

        }

        .slick-next:before {
            content: "›";
            color: #f01b48;
            font-size: x-large;
            font-weight: bolder;
            top: -7px;
            right: 33px;
            position: absolute;
        }


        .slider-nav .slick-track {
            height: 110px;
        }

        .slick-slide {
            padding: 5px 0;

            img {
                margin: auto;
                width: 80% !important;
                height: 74px !important;
            }
        }
    }

    .slider-for {

        width: 500px;
        overflow: hidden;
        background-color: #f4f4f4;

        img {
            padding: 10px;
            width: 100%;
            height: 100%;
        }

    }

}