body,
html,
md-content,
.breadcrump-link,
.breadcrumb {
  background-color: white; }

.container-align {
  width: 1000px;
  margin: auto;
  padding: 0; }
  .container-align .layout-padding {
    padding: 0 10px 10px 0; }

.breadcrump-link {
  text-decoration: none;
  color: black;
  outline: none; }
  .breadcrump-link :hover {
    text-decoration: none;
    outline: 0; }

.breadcrumb {
  margin: 15px 0; }

.margin-bottom {
  margin-bottom: 20px; }
