/* footer style */
/* .footer-image{
    height: auto;
    width: 30px;
} */
footer {
  background-color: #eee; }

.social-media-icons {
  width: 35px;
  height: 35px;
  margin: 1px !important; }

.connect-with-us {
  border-bottom: white; }

.black-footer {
  background-color: black; }

/* footer style */
